p.text {
    margin:auto;
    color:white;
    text-align:center;
    font-size:70px;
    text-shadow:2px 2px 8px black;
}
p.from {
    margin:auto;
    color:white;
    text-align:center;
    font-size:40px;
    text-shadow:2px 2px 5px black;
}
body {
    background-image: url("https://api.btstu.cn/sjbz/api.php?method=pc&lx=dongman");
}