p.text {
    color: black;
    text-align: center;
    font-size: large;
}
p.from {
    color: black;
    text-align: center;
    font-size: medium;
}
body {
    background-image: url("https://www.dmoe.cc/random.php");
}